/* base styles */

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;

  /*    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;   */
}

ul {list-style: none;}

/* Reset styles */

/* Common styles */

/* header section */

.header {
    
background: var(--WHITE, #FFF);
}

.header-nav {

    #2E2F42
}

.header-logo {

    color: var(--IRIS, #4D5AE5);
font-family: Ralevay;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}

.header-logo-accent {


    color: var(--NAVY-BLUE, #2E2F42);
letter-spacing: 0.54px;
}

.header-list {
    #2E2F42
}

.header-item {


    
}

.header-link, .header-link-speshial {

    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-decoration: none;

}

.header-link,.header-link-speshial:hover{},
.header-link,.header-link-speshial:focus {
    color: var(--OCEAN, #404BBF);

}

.header-link-speshial:active {

    color: var(--OCEAN, #404BBF);
    text-decoration:underline


}

.address {


}



.address-list {
}

.address-item {
}

.address-link {
    color: var(--SLATE, #434455);
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02;

}

.address-link:hover,:focus{

    color: var(--OCEAN, #404BBF);

}

/* main section */
/* title section */

.main {
    background: var(--NAVY-BLUE, #2E2F42);
}

.main-title {

    
}

.button {
}

/* section2 */
.benefits {
}

.benefits-title {
}

.benefits-list {
}

.benefits-item {
}

.benefits-caption {
}

.benefits-text {
}

/* section3 */

.team {
}

.team-title {
}

.team-list {
}

.team-item {
}

.team-picture {
}

.team-caption {
}

.text {
}

/* section4 */

.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-picture {
}

.portfolio-caption {
}

.portfolio-text {
}

/* footer */

.footer {
}

.footer-logo {
}

.footer-logo-accent {
}

.footer-text {
}
